body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: darkred;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 5%;
}
.title {
  font-family: "Luckiest Guy", cursive;
  color: white;
  border-bottom: 5px solid white;
}
.vector {
  fill: white;
}
#game-area {
  min-width: 1250px;
  min-height: 475px;
  margin: 20px auto;
  position: relative;
  border: 3px solid #000000;
  background-image: url("https://i.imgur.com/wjzD7Yt.jpg"); /* фон Нью Остіна */
  background-size: cover;
  cursor: crosshair;
  background-image: url(../src/img/bg-new-austin.avif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#target {
  position: absolute; /* Це обов'язково! */
  width: 100px;
  height: 150px;
  background-image: url(../src/img/bohhh.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.appear {
  opacity: 1;
  transform: scale(1.1);
}
.score {
  color: rgb(0, 0, 0);
}
.clock {
  position: absolute;
  left: 45%;
  bottom: 45px;
  fill: white;
  width: 24px;
  height: 24px;
}
.time {
  color: black;
  /* background-image: url(../src/img/alarm.svg);
  background-size: 18px;
  background-repeat: no-repeat; */
}
.policy {
  color: black;
}
